
body{
    margin: 0;
}

header{
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    position: relative;
}

/* Satrt Navbar  */
.navbar{
    background: transparent;
    padding: 10px 0px;

    transition: all 0.7s;
}



.navmenus{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    padding: 10px 5px;
}

.brand{
    color: honeydew;
    text-shadow: 0px 1px 0px #4af9f2,
 				 0px 2px 0px #4af9f2,
 				 0px 3px 0px #4af9f2;
   
}

.brand:hover{
    color: #4af9f2 !important;
}
.menuitems{
    
    font-size: 16px;
    letter-spacing: 1px;
    
   
    transition: color 0.5s;
}

.menuitems:hover{
    text-shadow: 0px 1px 0px #4af9f2,
 				 0px 2px 0px #4af9f2,
 				 0px 3px 0px #4af9f2;
}

.ulbgs{
    background: black;
}


.dropdown-item:focus{   
    background: black;
}

.ulbgs li:hover a{
    background: black !important;
    text-shadow: 0px 1px 0px #4af9f2,
                 0px 2px 0px #4af9f2,
                 0px 3px 0px #4af9f2;
}

.lines1,.lines2,.lines3{
    width: 23px;
    height: 3px;
    margin: 5px;
    /* transform-origin: center; */
    transition: all 0.3s ease-in-out;
   
    
}

.lines1{
   animation: animatethree 1s linear forwards;
}

.lines2{
    animation: animatesix 1s linear forwards;
}

.lines3{
   animation: animatefour 1s linear forwards;
}


.changes .lines1{
    /* transform: rotate(-45deg) ; */
      
    animation:animateone 1s linear forwards;

}

.changes .lines2{
    /* opacity: 0; */
    animation: animatefive 0.3s linear forwards;
}

.changes .lines3{
    /* transform: rotate(45deg) ; */
    
    animation: animatetwo 1s linear forwards;
}

@keyframes animateone{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
       
        transform: translateY(8px)  rotate(145deg);
    }
}

@keyframes animatetwo{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(-8px)  rotate(-145deg);
    }
}

@keyframes animatethree{
    0%{
       
        transform: translateY(8px) rotate(145deg);
       
    }
    50%{
       
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes animatefour{
    0%{
        transform: translateY(-8px)  rotate(-145deg);
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes animatefive{
    0%{
        opacity: 1;
    }
   
    100%{
        opacity: 0;
    }
}

@keyframes animatesix{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
/* End Navbar  */

/* Start Catagory Section  */
.movie{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.darkunderlines{
    
    width: 150px;
    border: 3px solid white;
}

.movie-title{
    text-shadow: 0px 1px 0px #4af9f2,
                 0px 2px 0px #4af9f2,
                 0px 3px 0px #4af9f2;
}

.movie-content{
    text-align: justify;
    margin: 0 30px;
    font-size: 25px;
    text-shadow: 0px 1px 0px #4af9f2,
                 0px 2px 0px #4af9f2,
                 0px 3px 0px #4af9f2;
}

.gallerylists{
    color: #777;
    cursor: pointer;
    transition:  all 0.5s ease;
}

.gallerylists.activeitems{
    color: #06b7bd;
}

.knowledge,.cartoon,.moti,.short{
    animation: myani 2s linear forwards;
    transition: all 1s ease-in;
}

.catagorys.showcata{
    animation: myani 1s linear forwards;
    transition: all 1s ease-in;
}

@media(max-width:600px){
    .about.showcata{
        animation-delay: 1s;
    }
}


@keyframes myani{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* End Catagory Section  */

/* Start About Section  */
.about.showcata{
    animation: myani 1s linear forwards;
    transition: all 1s ease-in;
}



#text{
    text-align: justify;
    color: white;

}

@media(max-width:600px){
    #text{
        font-size: 20px;
        
    }

}

/* End About Section  */

/* Start Pricing Section  */
.card{
    width: 85%;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.6);
    background: #C8FF15;
    margin-left: 40px;

}
.pricing{
    background: brown;
}

.card-title,.card-header{
    color: black;
    background: #C8FF15;
}

.card-body ul li{
    color: black;
    background: #C8FF15;
}

.cardbtn{
    width: 90%;
    color: cyan;
    background: #E000FF;
    margin: auto;

}

.pricing.showcata{
    animation: myani 1s linear forwards;
    transition: all 1s ease-in;
}
/* End Pricing Section */

/* Start Contact Section  */

.footerlinks{
    text-decoration: none;
}

.contact.showcata{
    animation: myani 1s linear forwards;
    transition: all 1s ease-in;
}
/* End Contact Section  */